/vendor
/tests/coverage
/humbug.json
/phpunit.xml
/humbuglog.txt
/config/local/*
/config/local
/log/leftaro.log
/resource/cache/*
/app/bower/
/app/uploads/
/node_modules/
/.vscode
/.idea
/log
/phinx.yml
/src/App/Model/Phinxlog.php
/src/App/Model/PhinxlogQuery.php
/src/App/Model/Map/PhinxlogTableMap.php
/src/App/Model/Base/Phinxlog.php
/src/App/Model/Base/PhinxlogQuery.php
.env
/etc/schema.sql
/etc/schema.xml